.PageHeader {
  border: 1px solid rgb(232, 232, 232);
}

.CreateQuizForm {
  margin: 25px auto;
}

.CreateQuizForm label {
  min-width: 240px !important;
}

.CreateQuizForm input {
  max-width: 250px !important;
}

.questionLabel {
  margin-right: 10px;
}

/* tile uploaded pictures */
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
